node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.nuxt
.output
.nitro
.data
.cache
dist

.git
.gitignore
.vscode
.idea
.fleet

.env
.env.*
!.env.example

README.md
LOGIN_DOCUMENTATION.md
BOOTSTRAP_MIGRATION.md
script.cjs
script2.cjs
