
NUXT_DATABASE_URL=postgresql://root:password@localhost:10000/database
DATABASE_URL=postgresql://root:password@localhost:10000/data
NUXT_JWT_SECRET=your_jwt_secret_key
NUXT_PG_HOST=localhost
NUXT_PG_PORT=10000
NUXT_PG_USER=root
NUXT_PG_PASSWORD=password
NUXT_PG_DATABASE=database
NUXT_PG_MAX=10
NUXT_PG_IDLE_TIMEOUT=30000
NUXT_PG_CONNECTION_TIMEOUT=2000
NUXT_PG_SSL=false

NUXT_PUBLIC_API_BASE_URL=http://localhost:3000